@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 400px;
    justify-content: center;
    max-width: 100%;
    min-height: 480px;
    margin: 100px, 200px;
    display: flex;
    flex-direction: column;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #2c81ff;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: relative;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    padding: 15px 0px;
}



.sign-in {
    width: 100%;
    transform: translateY(-40%);
    z-index: 2;
}

.container.active .sign-in {
    transform: translateY(100%);
}

.sign-up {
    width: 100%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateY(10%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s ;
}

@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    height: 30%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
    width: 100%;
    border-radius: 0 0 100px 100px;
}

.container.active .toggle-container{
    transform: translateY(240%);
    border-radius: 100px 100px 0 0;
}

.toggle{
    background-color: #2c81ff;
    height: 100%;
    width: 100%;
    transition: all 0.6s ease-in-out;
    background: linear-gradient(to right, #3f80e0, #2768c9);
    position: relative;
    top: 0;
    width: 100%;
    height: 200%;
    transform: translateY(0);
    transition: all 0.6s ease-in-outS;

}

.container.active .toggle{
    transform: translateY(0);
}

.toggle-panel {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    color: #fff;
}

.toggle-left {
    transform: translateY(200%);
}

.container.active .toggle-left {
    transform: translateY(-27%);
    padding: 50px ;
}


.toggle-right {
    transform: translateY(-25%);
}


.container.active .toggle-right {
    transform: translateY(200%);
}

.toggle-panel h1{
    font-size: 1.3rem;
    margin: 0px 0px -13px 0px;
}


.toggle-panel p{
    font-size: 0.7rem;
}

.toggle-panel span{
    font-size: 0.6rem;
}
